<button mat-button>My Button</button>
머지? ㅁㅓ머머야야야??
<p>
  appmain works222!
  {{posts1}}
</p>
<h1> Data1</h1>



<div class="example-container mat-elevation-z8">
  <mat-table class="list-table-style" #table [dataSource]="dataSource">

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> TITLE </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="content">
      <mat-header-cell *matHeaderCellDef> CONTENT </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.content}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="author">
      <mat-header-cell *matHeaderCellDef> AUTHOR </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.author}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> 삭제 </mat-header-cell>
      <mat-cell *matCellDef="let element">
        id : {{element.id}}
        <button mat-button (click)="deletePost(element.id)" >삭제</button>
      </mat-cell>
    </ng-container>

    <mat-header-row class="list-header-style"
                    *matHeaderRowDef="displayedColumns">
    </mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons>
  </mat-paginator>
</div>


<router-outlet></router-outlet>
